[Unit]
Description=Entrypoint service into the QEMU Linux Virtual Machine.

[Service]
Type=simple
ExecStart=/runtime/entrypoint.sh

[Install]
WantedBy=multi-user.target
